body {
  background-image: url('websiteBackground.png');
  background-position:center center;
  background-size: cover; 
  width: 100vw;
  height: 100vh;
}

.merriweather-sans-generalFont {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.crimson-pro-title {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.nanum-gothic-regular {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
