body {
  background-image: url('websiteBackground.png');
  background-position:center center;
  background-size: cover; /* contain */
  width: 100vw;
  height: 100vh;

}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


